<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset=utf-8>
<title>小诺健康机器人</title>
<meta name=viewport
	content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<link rel=stylesheet type=text/css href=/static/css/reset.css>
<link rel=stylesheet
	href=//webapp.didistatic.com/static/webapp/shield/z/mofang-icons/mofang-icons/svg/0.0.4/mofang-icons.min.css
	type=text/css>
<script type=text/javascript>
	const SUPER_ADMINISTRATOR = 27; //超级管理员;
	const ORG_ADMINISTRATOR = 28; //组织管理员;
	const SCHOOL_ADMINISTRATOR = 29; //学校管理员;
	const PARENT = 30; //家长;
	const PRINCIPAL = 31; //园长;
	const TEACHER = 32; //老师;
	const DOCTOR = 33; //医生;
	const SERVICE = 34; //后勤;
	const ASSISTANT = 35; //行政;
	const WX_URL = "http://119.23.152.164:7180/";
	var openid = 'ohFhKs8sbhXnvHG_n4Q53i0Qpgqo';
</script>
<link href=./static/css/app.80183b6670113dd58bd6f784b7d1e8f4.css
	rel=stylesheet>
</head>
<body>
	<div id=app-box></div>
	<div style="display: none">
    	<p id="openId" th:text="${openid}" />
	</div>
	<script>
    	openid = document.getElementById("openId").innerText?document.getElementById("openId").innerText:openid;
	</script>
	<script type=text/javascript
		src=./static/js/manifest.8cb219f847e7a6c24530.js></script>
	<script type=text/javascript
		src=./static/js/vendor.da7bdcfbd0686c755bc3.js></script>
	<script type=text/javascript
		src=./static/js/app.30d3a7f550ed4bb932cd.js></script>
</body>
</html>