<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.didano.weichat.dao.Hand_functionMapper">
   
  <select id="findAllFunctions" resultType="cn.didano.weichat.model.Tb_function">
    select 
    *
    from tb_function
  </select>
  
  <select id="findFunctionsByUserId" parameterType="java.lang.Integer" resultType="cn.didano.weichat.model.Tb_function">
    SELECT
	  f.*
	FROM  
	  tb_user_role_rel ur,
	  tb_role r,
	  tb_role_function_rel rf,
	  tb_function f
	WHERE 
	    ur.role_id = r.id
	    AND r.id = rf.role_id
	    AND rf.functions_id = f.id
	    AND ur.user_id = #{id,jdbcType=INTEGER}
	    AND ur.status = 0
  </select>
  
  
  <select id="findAreaItems" parameterType="java.lang.Integer" resultType="cn.didano.weichat.model.Tb_function">
    SELECT * FROM tb_function WHERE parent_id=#{parentId,jdbcType=INTEGER} ORDER BY order_no;
  </select>
  
  
 
</mapper>